.tabbed {
	
	
}

.tabbed [type="radio"] {
	display: none;
}

.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
}
.tab > label {
	display: block;
	transition: all 0.3s;
}
.tab-content {
	display: none;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3)
 {
	display: flex;
}
